[submodule "web-app"]
	path = web-app
	url = https://github.com/Chief-Strategist-J/web-app.git
	branch = main
[submodule "auth"]
	path = auth
	url = https://github.com/Chief-Strategist-J/auth.git
	branch = main
[submodule "shared-infra"]
	path = shared-infra
	url = https://github.com/Chief-Strategist-J/llm-node-share-ref.git
[submodule "llm-obs-policies"]
	path = llm-obs-policies
	url = https://github.com/Chief-Strategist-J/llm-obs-policies.git
	branch = main
[submodule "payment"]
	path = payment
	url = https://github.com/Chief-Strategist-J/payment.git
	branch = main
[submodule "notification"]
	path = notification
	url = https://github.com/Chief-Strategist-J/notification.git
	branch = main

